SET NOCOUNT ON;
GO

CREATE VIEW [pubs].[titleview]
AS

	select title, au_ord, au_lname, price, ytd_sales, pub_id
	from authors, titles, titleauthor
	where authors.au_id = titleauthor.au_id
	  AND titles.title_id = titleauthor.title_id

GO
